Q1. How do you comment code in Python? What are the different types of comments?

Comments in Python is the inclusion of short descriptions along with the code to increase its readability.

#Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. There are three ways to write a comment - as a separate line, beside the corresponding statement of code, or as a multi-line comment block.

Single line

Single-line comments begin with the "#" character. Anything that is written in a single line after ‘#’ is considered as a comment.

In [42]:
#let's take an example of a dictionary
details= {
'name':'Deva', #name of the user
'age':22, #age of the user
'course':"Master's in data science" #course name 
}

In [43]:
details

{'name': 'Deva', 'age': 22, 'course': "Master's in data science"}

Multi-Line Comments


Python does not support multi-line comments. However, there are multiple ways to overcome this issue. None of these ways are technically multi-line comments, but you can use them as one. The first way is by using # at the beginning of each line of the comment.

In [44]:
#let's write anything
#I'm liking this course
#and I'm sure that I'll be a data scientist
print("that's how we make multiline comments in python")

that's how we make multiline comments in python

In [45]:
"""
this is also a way of 
doing multiline comments
"""
print('Multi-line comment')

Multi-line comment

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store data values. They act as containers that hold information which can be accessed and manipulated throughout the program. Variables can store various types of data, including numbers, strings, lists, or more complex objects.

To declare and assign values to variables in Python, you can use the following syntax:

In [46]:
first_var = 'Deva'

In [47]:
first_var

'Deva'

In [48]:
name = "Deva"
age = 22
height = 1.75
is_student = True

In [49]:
name

'Deva'

In [50]:
age

22

In [51]:
height

1.75

In [52]:
is_student

True

Q3. How do you convert one data type to another in Python?

In [53]:
num=10

In [54]:
num_1=float(num)

In [16]:
num_1

10.0

In [17]:
a=123

In [19]:
aa=str(a)

In [20]:
aa

'123'

In [23]:
age = 25
age_str = "I am " + str(age) + " years old."
print(age_str)  # Output: "I am 25 years old."

name = "John"
message = f"My name is {name}."
print(message)  # Output: "My name is John."

I am 25 years old.
My name is John.

Q4. How do you write and execute a Python script from the command line?

The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this: python first_script.py Hello World! Then you hit the ENTER button from the keyboard, and that's it.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [24]:
my_list = [1, 2, 3, 4, 5]

In [25]:
my_list[1:3]

[2, 3]

In [26]:
my_list[-4:-2]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are created from two real numbers. You can create it directly or you can use the complex function. It is written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of -1.

In [28]:
y=3+7j

In [29]:
type(y)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [30]:
age=25

In [31]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [32]:
price=9.99

In [33]:
type(price)

float

In [34]:
#variable named price belong to float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [35]:
name='Devesh Binwal'

In [36]:
name

'Devesh Binwal'

In [37]:
print("My name is {}".format(name))

My name is Devesh Binwal

Q10. Given the string "Hello, World!", extract the substring "World".

In [38]:
string="Hello, World!"

In [39]:
string[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [40]:
is_student=True #I'm currently a student

In [41]:
print("That's {} that you are a student".format(is_student))

That's True that you are a student